.gradient_background45 {
  background: linear-gradient(270deg, #b1dfff, #3830cc);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Consolas", monospace;
}

/* Header row for Discover and Explore buttons */
.header-row {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  width: 95%; /* Full width to align Explore to the far right */
  align-items: center;
  margin-bottom: 30px;
}

.discover-button {
  font-size: 40px;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.explore-button {
  font-size: 40px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-left: auto; /* Pushes Explore button to the far right */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Level rows */
.unit-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.unit-row button {
  font-size: 24px;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  margin-left: 40px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.unit-row button:hover,
.discover-button:hover,
.explore-button:hover {
  background-color: white; /* Change background on hover */
  color: #3830cc; /* Change text color on hover */
  border: 2px solid #3830cc;
}

.unit-row h3 {
  font-size: 20px;
  color: #ffffff;
  margin-left: 15px;
  font-weight: normal;
}

.content-art {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  width: 400px; /* Adjust to the size of your images */
  height: 400px; /* Match the sprite dimensions */
  background-size: cover;
  background-image: url("/images/CompassAgain-1.png");
}
