.gradient_background {
    background: linear-gradient(135deg, #0e6eb8, #74c0fc);
    min-height: 100vh;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column; /* Change to column to stack items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    font-family: 'Consolas', monospace;
}

.intro-box {

    width: 20%;
    padding: 1px 40px 1px; /* Adjust padding: top, left/right, bottom */
    border: 4px solid white; /* Thick white border */
    border-radius: 35px; /* Rounded corners */
    text-align: center; /* Center text inside the box */
    margin-top: 20px; /* Space from the top */
    margin-bottom: 20px;
}

.description1 {
    font-family: 'Consolas', monospace;
    color: white;
    font-size: 20px; /* Font size */
    font-weight: 100; /* Font weight */
    margin: 0; /* Remove any default margin */
    width: 60%;
    line-height: 1.6; /* Line height */
    text-align: justify; /* Justify text for better readability */
}
