.gradient_background {
  background: linear-gradient(90deg, #1f2f98, #49a699);
  min-height: 100vh; /* Ensure it covers at least the viewport height */
  width: 100vw; /* Full width of the viewport */
  height: auto; /* Allow it to expand with content */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "OpenSans-Regular", monospace;
  overflow: auto; /* Enable scrolling if the content exceeds the height */
}

.intro-button {
  font-size: 40px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 20px;
  margin-top: 20px;
}

.intro-button:hover {
  background-color: #7ad6d3; /* Fill with purple on hover */
  color: white; /* Keep text white */
}

.content {
  margin-left: 40px;
  width: 60vw; /* 65% of the viewport width */
}


.content p {
  font-size: 20px;
  color: white;
  text-align: left;
}

.navigate-button {
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent; /* Transparent background */
  color: white; /* White text */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigate-button:hover {
  background-color: #7ad6d3; /* Fill with purple on hover */
  color: white; /* Keep text white */
}

.command-line {
  display: flex;
  align-items: center; /* Align text and input vertically */
  font-family: "Consolas", monospace;
  margin-left: 2rem; /* Indent the command line relative to the question */
}

.directory-prompt {
  font-family: "Consolas", monospace;
  font-size: 20px;
  color: #ffffff;
  margin-right: 0.5rem; /* Space between prompt and input */
}

.input-box {
  font-size: 40px;
  padding: 5px;
  width: 70%;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  outline: none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
