.gradient_background {
  background: linear-gradient(90deg, #3830CC, #B1DFFF);
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align content to the left */
  font-family: 'Consolas', monospace;
}


.unit-row {
  display: flex;
  align-items: center; /* Center-align button and h3 vertically */
  margin-bottom: 40px;
}

.unit-row button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent; /* Transparent background */
  color: white; /* White text */
 

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.unit-row button:hover {
  background-color: #a259ff; /* Fill with purple on hover */
  color: white; /* Keep text white */
}


.unit-row h3 {
  font-size: 20px;
  color: #f1f1f1;
  margin-left: 15px; /* Space between button and h3 */
  font-weight: normal;
}